body {
	margin: 0; padding: 0;
	font: 10px normal Arial, Helvetica, sans-serif;
	//background: #ddd url(http://i43.servimg.com/u/f43/14/73/12/96/body_b10.gif) repeat-x;
}

#title {
	
	font: 18px normal Arial, Helvetica, sans-serif;
	margin-left: 200px;
	position: fixed;
	margin-top: 6px;
	
}
.container {
	width: 960px;
	margin: 0 auto;
	position: relative;
}
#header {
	padding-top: 0px;
	margin-top: 0px;
	height: 80px;
	
}

#header .disclaimer a {	color: #ccc;}

#logo {
	float:left;
}


.don_1 {
    background-color: #6891E7;
    background-image: -moz-linear-gradient(center top , #6891E7 0px, #304EA6 100%);
    border-color: #304EA6 #304EA6 #000000;
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.45) inset;
    color: #FFFFFF !important;
    display: inline-block;
    font-family: Tahoma,Arial,Helvetica,sans-serif;
    font-size: 15px;
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
    margin-top: 150px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 10px;
}
.don_1:hover {
    background-image: -moz-linear-gradient(center bottom , #557CD1 100%, #304EA6 100%);
    text-decoration: none;
}

